/* Application */
.application{
    width: 80%;
    display: block;
    margin: auto;
}
/* App end */

/* Form new employer section */
section.application>button {    
    transform: translate(320%, 0%);
    transition: 0s;
}

form.newEmployer{
    width: 78%;
    margin: 50px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    visibility: visible;
    transition: 2s;
}
form.newEmployer.hidden{
    visibility: hidden;
}

form.newEmployer>* {
    display: flex;
    width: 50%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
label{
    display: flex;

}
label span{
    font-size: 0.75em;
    font-weight: 700;
    margin: 0.55em 0.5em 0.25em;
    opacity: 0;
    color: rgba(136, 132, 216, 0.75);
}
label.warning  span {
    opacity: 1;
}
.inputTitle {
    width: 20%;
}

input[type=submit], button{
    width: 20%;
    box-sizing: border-box;
    margin: 0 50px;
    height: 30px;
    justify-content: center;
    text-transform: capitalize;
    background: #e8e7f7;
    outline: none;
    border: 1px solid #e8e7f7;
    border-radius: 10px;
    margin-top: 1em;
}
input, select{
    width: 70%;
    border-radius: 10px;
    padding: 7px 4px;
}
select{
    width: 73.4%;
}

/* Form new employer section end */

/* Chart section */
.chart_section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3% auto;
}
.recharts-wrapper{
    border: 1px solid black;
}
.recharts-wrapper>svg{
    padding-top: 8%;
    height: 90%;
}
.recharts-wrapper:first-child::before{
    content: "Employees by Job Title";
    background-color: white;
    position: absolute;
    transform: translate(20%, -60%);
}
.recharts-wrapper:last-child::before{
    content: "Employees by Gender";
    background-color: white;
    position: absolute;
    transform: translate(20%, -60%);
}
/* Chart section end */

/* Table */
table{
    margin: 50px auto;
    width: 78%;
    height: 10%;
    overflow-y: scroll;
}

thead {
    background-color: rgba(136, 132, 216, 0.75);
}
tr:nth-child(even) {
    background-color: #a6a3e242;
}
td {
    padding-left: 15px;
}
/* Table end */